@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.scroll-left {
  animation: scroll-left 50s linear infinite;
}

.scroll-right {
  animation: scroll-right 50s linear infinite;
}